---
import BecomeSponsor from "../components/BecomeSponsor/BecomeSponsor";
import Layout from "../layouts/Layout.astro";


---

<Layout title="DebUtsav">
    <main>
        <BecomeSponsor/>
    </main>
   
</Layout>