---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero/Hero';
import Footer from '../components/Footer/Footer';
import Sponsors from '../components/Sponsors/Sponsors';
import Navbar from '../components/Navbar/Navbar';

---

<Layout title="FOSSMEC">
	<main>
		
		<Hero/>
		<Sponsors/>
		
	</main>
</Layout>


