---
import Navbar from "../components/Navbar/Navbar";
import RegistrationForm from "../components/Registeration/Registeration";
import Layout from "../layouts/Layout.astro";

---


    <main>
        <Navbar client:load/>
        <RegistrationForm client:load/>
    </main>
