---
import RegistrationForm from "../components/Registeration/Registeration";
import Layout from "../layouts/Layout.astro";

---

<Layout title="FOSSMEC">
    <main>
        <RegistrationForm client:load/>
    </main>
</Layout>