---
import EventDetails from "../components/EventDetails";
import Layout from "../layouts/Layout.astro";

---

<Layout title="DebUtsav">
    <main>
         <EventDetails showMap={true}/>
    </main>
</Layout>