---
import Footer from '../components/Footer/Footer';
import Navbar from '../components/Navbar/Navbar';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
	
	
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  font-family: 'Poppins', sans-serif;

  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #f0efef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1{
  line-height: 20px;
}

a:focus{
  outline: none;
  border: none;
}

.register{
  box-shadow: 2px 4px 4px #EA9FB3;
  border-radius: 50px;
}

.speakercard{
  border-radius: 50%;
}
.svg-icon:hover path {
  stroke: #ffffff; /* replace with the desired color */
}
</style>
